<!DOCTYPE html>
<html>
<head>
  <title>Weatherwardrobe</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
  Welcome <%= current_user.email %> | Logout
<% else %>
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<% end %>

<%= yield %>

</body>
</html>
